language: javascript | typescript | javascriptreact | typescriptreact
---

name: fancyComment
phrase: fancy comment
$1.insertionFormatter: ALL_CAPS
-
// =============================================================================
// $1
// =============================================================================
$0
---

name: asyncFunctionDeclaration
phrase: async funk
insertionScope: namedFunction | statement

$0.wrapperPhrase: async funk
$0.wrapperScope: statement
$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
async function $1($2) {
    $0
}
---

name: timeoutStatement
phrase: timeout
insertionScope: statement

$0.wrapperPhrase: timeout
$0.wrapperScope: statement
$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
setTimeout(() => {
    $0
}, $1);
---

name: promiseStatement
phrase: promise
insertionScope: statement

$0.wrapperPhrase: promise
$0.wrapperScope: statement
-
new Promise((resolve, reject) => {
    $0
});
---

